<!--
  The app component is the root component of the application. It contains the header and the router outlet.
  
  @author Manny Kwaning
  @author Carl Zhao
  @author James Nicholson
  @author Kartik Srikumar
  @author Veronika Post
-->
<mat-toolbar color="primary">
  <span>
    <img src="/assets/HECTRE.png" alt="Logo" width="74" height="64">

  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-12">
      <h1 class="text-center">
        Upload Multiple PDF Files for Extraction
      </h1>
      <ul class="list-group mt-2">
        <li class="list-group-item">Select Multiple Files.</li>
        <li class="list-group-item">Click on the Upload Button.</li>
        <li class="list-group-item">Wait for the files to be processed, and see the upload progress</li>
        <li class="list-group-item">After the upload is completed, PICOS field and extract button will appear</li>
        <li class="list-group-item">Enter a semi-colon separated string of outcomes for extraction</li>
        <li class="list-group-item">Click on the Extract Button</li>
      </ul>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-4">
      <input type="file" class="form-control" id="formFileMultiple" multiple (change)="addFiles($event)" />
    </div>
  </div>
  <div class="col-8">
    <ng-container *ngIf="filesToUploadList">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">Upload Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filesToUploadList; index as i">
            <td>{{item.file.name}}</td>
            <td>
          <tr>
            <td>Upload Progress&nbsp;
              <h3>{{item.uploadStatus.progressCount}}</h3>
              <mat-progress-bar mode="determinate" [value]="item.uploadStatus.progressCount"></mat-progress-bar>
            </td>
            <td>
              <h4 class="text-danger">{{item.uploadStatus.errorMessage}}</h4>
            </td>
          </tr>
          </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="btn btn-primary" (click)="uploadFiles()">Upload Files</button>
              <button type="button" class="btn btn-danger" (click)="clearFiles()">Clear Files</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </ng-container>
    <ng-container *ngIf="isUploadComplete">
      <table class="table">
        <thead>
          <tr>
            <th>Extract</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <form [formGroup]="form">
                <label for="picos-string">Outcomes String&nbsp;&nbsp;</label>
                <input type="text" id="picos-string" formControlName="picosString">
              </form>
            </td>
            <td>
              <button type="button" class="btn btn-success" (click)="extractFiles()">Extract</button>
            </td>
          </tr>
          <tr>
            <td>Extraction Progress&nbsp;
              <h3>{{extractionProgress}}</h3>
              <mat-progress-bar mode="determinate" [value]="extractionProgress"></mat-progress-bar>
            </td>
            <td>
              <h4 class="text-danger">{{extractionErrorMessage}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>